@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility class */

.flex {
    display: flex;
}

.remove-dot {
    list-style-type: none;
}




/* nav */

.nav-container {
    background-color: #CBFFBE;
    /* padding: 20px 30px; */
    Width: 100%;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top: 0px;
    z-index: 1;
    
}
.company-logo img{
  
    height: 50px;
}
.nav-link{
    
    
}

.links {
    justify-content: space-between;
    gap: 60px;
    Width: 100%;
    padding-right: 60px;
    align-items: center;
}

.Hover-link {
    text-decoration: none;
    transition: 0.3s ease-out;
}

.Hover-link:hover {
    color: #2bd8d8;
}

/* deader */
.header-main-container {

    background-color: gray;
    margin-top: 50px;
}

.header-title {

    text-align: center;
    margin-top: 33px;
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #222222;
    /* font-size: 40px; */
    /* font-weight: 550; */
}

.header-title h2,
h4 {
    padding: 10px;
}

.header-left-container {
    width: 80vw;
    
    background-color: rgb(251, 251, 250);
}

.header-right-container {
    width: 21vw;
    height: 100vh;
    background-color: #4A8150;
    position:fixed;
    right: 0px;
    z-index: 1;
  
}

/* carousel */

.carousel {
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 900px;
    height: 450px;
    border-radius: 10px;
    /* border: 2px solid black; */
    box-shadow: 0 5px 20px rgb(6, 6, 13);
}
.crousel-img{
    width: 900px;
    height: 450px;
    border-radius: 10px;
}


/* container-right */
.triangle {
    width: 100%;
    height: 311px;
    /* border: 2px solid black; */
    background-image: linear-gradient(to bottom right,
    #1C340E 50%, 
    #4A8150 50%);

}

.description {


    padding-left: 15px;
    font-family: 'Pompiere';
    font-size: 30px;
    line-height: 45px;
    /* border: 2px solid black; */
    color: #FFFFFF;
}

/* buy-now_btn */
.buy-now {
    margin: auto;
    margin-top: 22px;
    text-align: center;
    justify-content: center;
    
}

.btn {
    
    padding: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
    box-shadow: 0px 5px 20px#0f1e11;
    border-radius: 10px;
    background-image: linear-gradient(
    #ffFFFE,
    #CBFFBE );

}
.btn a{
    text-decoration: none;
    color: black;
}
 /*................................................................
                    CARDS
..................................................................*/ 
.card-container{
width: 75%;
justify-content: center;
margin-block: 80px;
gap: 50px;
/* background-color:rgba(39, 36, 36, 0.429); */

}
.card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgb(6, 6, 13);

    /* background-image:url(https://blogproxy.andaazfashion.com/wp-content/uploads/2022/04/2.jpg); */
    background-size: cover;
background-color:rgba(39, 36, 36, 0.429);
}
.card:hover{
  transform: scale(1.2);
  /* translate: ease-in-out 1s; */
  transition: 0.5s ease-in-out;
}
.card .card-img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    color: #ffFFFE;
}
.card img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}





footer{
    height: 10vh;
    /* margin-block: 20px; */
    background-color: red;position: none;
}